#wrap {
  margin: 0 auto;
  width: 990px;
  height: 660px;
  background-image: url('../img/ipad.jpg');
  background-repeat: no-repeat;
}

.canvas-wrap {
  position: absolute;
  margin-top: 90px;
  margin-left: 95px;
}

#loading {  
  position: absolute;
  margin-left: 425px;  
  margin-top: 310px;  
}

#loading > span {
  margin-left: 5px;
  color: #777777;
  text-align: center;
  text-shadow: 0 -1px 0 #ffffff;
}

#market-banner {
  margin-left: 30px;
}

#market-banner > p {
  margin-top: 5px;
}